// app global css in Stylus form
/* david-libre-regular - hebrew_latin */
@font-face 
  font-family 'David Libre n400'
  font-style normal
  font-weight 400
  src url('./fonts/david-libre-v4-hebrew_latin-regular.eot') /* IE9 Compat Modes */
  src local('David Libre'), local('DavidLibre-Regular'),
       url('./fonts/david-libre-v4-hebrew_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/david-libre-v4-hebrew_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/david-libre-v4-hebrew_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/david-libre-v4-hebrew_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/david-libre-v4-hebrew_latin-regular.svg#DavidLibre') format('svg') /* Legacy iOS */


/* david-libre-500 - hebrew_latin */
@font-face 
  font-family 'David Libre n500'
  font-style normal
  font-weight 500
  src url('./fonts/david-libre-v4-hebrew_latin-500.eot') /* IE9 Compat Modes */
  src local('David Libre Medium'), local('DavidLibre-Medium'),
       url('./fonts/david-libre-v4-hebrew_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/david-libre-v4-hebrew_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/david-libre-v4-hebrew_latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/david-libre-v4-hebrew_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/david-libre-v4-hebrew_latin-500.svg#DavidLibre') format('svg') /* Legacy iOS */


.david-n4-font 
  font-family 'David Libre n400';
